{#
/**
 * @file
 * Theme override for displaying a view as a table.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 *   - class: HTML classes that can be used to style contextually through CSS.
 * - title : The title of this group of rows.
 * - header: The table header columns.
 *   - attributes: Remaining HTML attributes for the element.
 *   - content: HTML classes to apply to each header cell, indexed by
 *   the header's key.
 *   - default_classes: A flag indicating whether default classes should be
 *     used.
 * - caption_needed: Is the caption tag needed.
 * - caption: The caption for this table.
 * - accessibility_description: Extended description for the table details.
 * - accessibility_summary: Summary for the table details.
 * - rows: Table row items. Rows are keyed by row number.
 *   - attributes: HTML classes to apply to each row.
 *   - columns: Row column items. Columns are keyed by column number.
 *     - attributes: HTML classes to apply to each column.
 *     - content: The column content.
 *   - default_classes: A flag indicating whether default classes should be
 *     used.
 * - responsive: A flag indicating whether table is responsive.
 * - sticky: A flag indicating whether table header is sticky.
 *
 * @see template_preprocess_views_view_table()
 */
#}
{%
  set classes = [
    'table',
    'table-striped',
    'views-table',
    'views-view-table',
    'cols-' ~ header|length,
    responsive ? 'responsive-enabled',
    sticky ? 'sticky-enabled',
  ]
%}
{% set currentPath = url("<current>")|render|render %}
<div class="careers-main-wrapper small-device-hide">
    <div class="row">
      <div class="col-12 col-md-8">
        <div class="top-career-content">
          <h3>Top Career Matches</h3>
          <div class="content">
            <div class="description">
              <p><span class="bulb d-table-cell"></span><span class="dec-text d-table-cell">Select a career below to find out more information.</span></p>
              <p><span class="bulb d-table-cell"></span><span class="dec-text d-table-cell"><strong>Compare up to three careers</strong> by selecting the</br>
                checkboxes and clicking on the Compare Careers button.</span>
              </p>
            </div>
            <div class="top-btn">
              <a href="{{ remove_url }}" class="clear-compare disable">Clear Compare</a>
              <a href="{{ '/career-compare/career/' ~ current_nid }}" class="compare-career disable">Compare Careers</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-8">
        <div class="careers-table-main-wrapper">
        <table{{ attributes.addClass(classes) }}>
          {% if caption_needed %}
          <caption>
          {% if caption %}
              {{ caption }}
          {% else %}
              {{ title }}
          {% endif %}
          {% if (summary is not empty) or (description is not empty) %}
              <details>
              {% if summary is not empty %}
                  <summary>{{ summary }}</summary>
              {% endif %}
              {% if description is not empty %}
                  {{ description }}
              {% endif %}
              </details>
          {% endif %}
          </caption>
          {% endif %}
          {% if header %}
          <thead>
              <tr>
              <th><span class="match-per">%</span></br>{{ 'Match'|t }}</th>
              {% for key, column in header %}
                  {% if column.default_classes %}
                  {%
                      set column_classes = [
                      'views-field',
                      'views-field-' ~ fields[key],
                      ]
                  %}
                  {% endif %}
                  {% if column.content != 'NOC' %}
                    <th{{ column.attributes.addClass(column_classes).setAttribute('scope', 'col') }}>
                    {%- if column.wrapper_element -%}
                        <{{ column.wrapper_element }}>
                        {%- if column.url -%}
                            <a href="{{ column.url }}" title="{{ column.title }}">{{ column.content }}{{ column.sort_indicator }}</a>
                        {%- else -%}
                            {{ column.content }}{{ column.sort_indicator }}
                        {%- endif -%}
                        </{{ column.wrapper_element }}>
                    {%- else -%}
                        {%- if column.url -%}
                        <a href="{{ column.url }}" title="{{ column.title }}">{{ column.content }}{{ column.sort_indicator }}</a>
                        {%- else -%}
                        {{- column.content }}{{ column.sort_indicator }}
                        {%- endif -%}
                    {%- endif -%}
                    </th>
                  {% endif %}
              {% endfor %}
              </tr>
          </thead>
          {% endif %}
          <tbody>
          {% for rowkey, row in rows %}
              <tr class="career-table-row {% if rowkey == "0" %}active{% endif %}" data-id="career-item-{{ rowkey }}">
              {% set nodeURL =  url('entity.node.canonical', {'node': row.raw.nid}) %}
                <td>
                  {{ row.raw.match }}
                </td>
                <td class="career-table-link" data-node-url="{{ nodeURL }}">
                    <a href="javascript:;" class="career-table-row-link">{{ row.raw.field_noc_name }}</br> <span class="noc">(NOC {{ row.raw.title }})</span></a>
                </td>
                <td>
                    {{ row.columns.field_median_salary }}
                </td>
                <td>
                    {{ row.columns.field_education_level }}
                </td>
                <td>
                  {{ row.columns.entity_comparison_link_career }}
                  {# data-career="/entity-comparison/career/{{ row.raw.entity_comparison_link_career }}?destination=/node/{{ currentPath }}" #}
                  <label class="compare-career compare-carr">
                    <input type="checkbox" class="career-checkbox career-chkk">
                    <span class="checkmark"></span>
                  </label>
                </td>
              </tr>
          {% endfor %}
          </tbody>
      </table>
      </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="career-content-main-wrapper career-content-table-item">
          {% for rowkey, row in rows %}
            <div id="career-item-{{ rowkey }}" class="career-content-item {% if rowkey == "0" %}active{% endif %}" data-url="">
              <div class="career-content-item-inner">
                <div class="title"><p>{{ row.raw.field_noc_name }} <span class='noc-code'>(NOC {{ row.raw.title }})</span></p></div>
                <div class="career-inner-content">
                  <div class="image-video">
                    {% if row.raw.field_video_id != false %}
                      <iframe width="420" height="345" src="{{ 'https://www.youtube.com/embed/' ~ row.raw.field_video_link }}"></iframe>
                    {% elseif  row.raw.field_video_id == false %}
                      <img src="{{ row.raw.field_image }}" alt=""/>
                    {% endif %}
                  </div>
                  <div class="data">
                    {% if row.raw.field_median_salary is not empty %}
                      <p class="data-item"><span class="f-d">Annual Salary</span><span class="s-d">{{ row.columns.field_median_salary }}</span></p>
                    {% endif %}
                    {% if row.raw.field_education_level is not empty %}
                      <p class="data-item"><span class="f-d">Education Level</span><span class="s-d">{{ row.columns.field_education_level }}</span></p>
                    {% endif %}
                    {% if row.raw.field_job_openings is not empty %}
                      <p class="data-item"><span class="f-d">Job Openings<span class="w-100">{{ row.raw.field_opening_from_to }}</span></span><span class="s-d">{{ row.raw.field_job_openings }}</span></p>
                    {% endif %}
                  </div>
                  <div class="description">
                    <p>{{ row.raw.field_job_summary | striptags | truncate(250) | raw }}</p>
                  </div>
                  <div class="bottom-btn">
                    <a class="btn btn-career-profile" href="{{ row.raw.field_workbc_link }}" target='_blank'>View Career Profile</a>
                    <a class="btn btn-find-job" href="{{ row.raw.field_find_job }}" target='_blank'>Find Jobs</a>
                  </div>
                </div>
              </div>
            </div>
          {%  endfor %}
        </div>
      </div>
    </div>
</div>

<div class="careers-mobi-main-wrapper small-device-show">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="top-career-mobi-content">
          <h3>Top Career Matches</h3>
          <div class="content">
            <div class="description">
              <p><span class="bulb d-table-cell"></span><span class="dec-text d-table-cell">Select a career below to find out more information.</span></p>
              <p><span class="bulb d-table-cell"></span><span class="dec-text d-table-cell">
                <strong>Compare up to three careers</strong> by selecting the</br>
                checkboxes and clicking on the Compare Careers button.</span>
              </p>
            </div>
            <div class="top-btn">
              <a href="{{ remove_url }}" class="clear-compare disable">Clear Compare</a>
              <a href="{{ '/career-compare/career/'  ~ current_nid }}" class="compare-career disable">Compare Careers</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="careers-mobi-table-wrapper">
          <div class="thead">
            <div class="thead-main">
              <p class="head">Career Matches</p>
              <p class="head">Compare Careers</p>
            </div>
          </div>
          <div class="tbody">
          {% for rowkey, row in rows %}
          {% set nodeURL =  url('entity.node.canonical', {'node': row.raw.nid}) %}
            <div class="tbody-main" data-id="career-item-{{ rowkey }}">
              <p class="body"><a href="{{ nodeURL }}" class="career-table-mobi-row-link">{{ row.raw.field_noc_name }} </br><span class="noc">(NOC {{ row.raw.title }})</span></a></p>
              <p class="body">
                {{ row.columns.entity_comparison_link_career }}
                <label class="compare-career-mobi compare-carr" data-career="/entity-comparison/career/{{ row.raw.entity_comparison_link_career }}?destination=/node/{{ currentPath }}">
                  <input type="checkbox" class="career-mobi-checkbox career-chkk">
                  <span class="checkmark"></span>
                </label>
              </p>
            </div>
          {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
