{#
/**
 * @file
 * Theme override for displaying a view as a table.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 *   - class: HTML classes that can be used to style contextually through CSS.
 * - title : The title of this group of rows.
 * - header: The table header columns.
 *   - attributes: Remaining HTML attributes for the element.
 *   - content: HTML classes to apply to each header cell, indexed by
 *   the header's key.
 *   - default_classes: A flag indicating whether default classes should be
 *     used.
 * - caption_needed: Is the caption tag needed.
 * - caption: The caption for this table.
 * - accessibility_description: Extended description for the table details.
 * - accessibility_summary: Summary for the table details.
 * - rows: Table row items. Rows are keyed by row number.
 *   - attributes: HTML classes to apply to each row.
 *   - columns: Row column items. Columns are keyed by column number.
 *     - attributes: HTML classes to apply to each column.
 *     - content: The column content.
 *   - default_classes: A flag indicating whether default classes should be
 *     used.
 * - responsive: A flag indicating whether table is responsive.
 * - sticky: A flag indicating whether table header is sticky.
 *
 * @see template_preprocess_views_view_table()
 */
#}
{%
  set classes = [
    'table',
    'table-striped',
    'views-table',
    'views-view-table',
    'cols-' ~ header|length,
    responsive ? 'responsive-enabled',
    sticky ? 'sticky-enabled',
  ]
%}
<div class="careers-main-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-md-8">
        <div class="top-career-content">
          <h3>Top Career Matches</h3>
          <div class="content">
            <div class="description">
              <p>Select a career below to find out more information.</p>
              <p>
                <strong>Compare up to three careers</strong> by selecting the</br>
                checkboxes and clicking on the Compare Careers button.
              </p>
            </div>
            <div class="top-btn">
              <a href="javascript:;" class="clear-compare disable">Clear Compare</a>
              <a href="/compare/career" class="compare-career disable">Compare Careers</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-8">
        <div class="careers-table-main-wrapper">
        <table{{ attributes.addClass(classes) }}>
          {% if caption_needed %}
          <caption>
          {% if caption %}
              {{ caption }}
          {% else %}
              {{ title }}
          {% endif %}
          {% if (summary is not empty) or (description is not empty) %}
              <details>
              {% if summary is not empty %}
                  <summary>{{ summary }}</summary>
              {% endif %}
              {% if description is not empty %}
                  {{ description }}
              {% endif %}
              </details>
          {% endif %}
          </caption>
          {% endif %}
          {% if header %}
          <thead>
              <tr>
              {% for key, column in header %}
                  {% if column.default_classes %}
                  {%
                      set column_classes = [
                      'views-field',
                      'views-field-' ~ fields[key],
                      ]
                  %}
                  {% endif %}
                  <th{{ column.attributes.addClass(column_classes).setAttribute('scope', 'col') }}>
                  {%- if column.wrapper_element -%}
                      <{{ column.wrapper_element }}>
                      {%- if column.url -%}
                          <a href="{{ column.url }}" title="{{ column.title }}">{{ column.content }}{{ column.sort_indicator }}</a>
                      {%- else -%}
                          {{ column.content }}{{ column.sort_indicator }}
                      {%- endif -%}
                      </{{ column.wrapper_element }}>
                  {%- else -%}
                      {%- if column.url -%}
                      <a href="{{ column.url }}" title="{{ column.title }}">{{ column.content }}{{ column.sort_indicator }}</a>
                      {%- else -%}
                      {{- column.content }}{{ column.sort_indicator }}
                      {%- endif -%}
                  {%- endif -%}
                  </th>
              {% endfor %}
              </tr>
          </thead>
          {% endif %}
          <tbody>
          {% for rowkey, row in rows %}
              <tr class="career-table-row {% if rowkey == "0" %}active{% endif %}" data-id="career-item-{{ rowkey }}">
                <td class="career-table-link">
                    <a href="javascript:;" class="career-table-row-link">{{ row.raw.title }} <span class="noc">(NOC {{ row.raw.field_noc }})</span></a>
                </td>
                <td>
                    ${{ row.raw.field_median_salary }}
                </td>
                <td>
                    {{ row.raw.field_education_level }}
                </td>
                <td>
                  <label class="compare-career" data-career="{{ row.raw.entity_comparison_link_career }}">
                    <input type="checkbox" class="career-checkbox">
                    <span class="checkmark"></span>
                  </label>
                </td>
              </tr>
          {% endfor %}
          </tbody>
      </table>
      </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="career-content-main-wrapper">
          {% for rowkey, row in rows %}
            <div id="career-item-{{ rowkey }}" class="career-content-item {% if rowkey == "0" %}active{% endif %}">
              <div class="career-content-item-inner">
                <div class="title"><p>{{ row.raw.title }}</br><span class='noc-code'>(NOC {{ row.raw.field_noc }})</span></p></div>
                <div class="career-inner-content">
                  <div class="image-video">
                    {% if row.raw.field_video_link != false %}
                      <iframe width="420" height="345" src="{{ row.raw.field_video_link }}"></iframe>
                    {% elseif  row.raw.field_video_link == false %}
                      <img src="{{ row.raw.field_image }}" alt=""/>
                    {% endif %}
                  </div>
                  <div class="data">
                    {% if row.raw.field_median_salary is not empty %}
                      <p class="data-item"><span class="f-d">Annual Salary</span><span class="s-d">{{ row.raw.field_median_salary }}</span></p>
                    {% endif %}
                    {% if row.raw.field_education_level is not empty %}
                      <p class="data-item"><span class="f-d">Education Level</span><span class="s-d">{{ row.raw.field_education_level }}</span></p>
                    {% endif %}
                    {% if row.raw.field_job_openings is not empty %}
                      <p class="data-item"><span class="f-d">Job Openings<span>{{ row.raw.field_opening_from_to }}</span></span><span class="s-d">{{ row.raw.field_job_openings }}</span></p>
                    {% endif %}
                  </div>
                  <div class="description">
                    {{ row.raw.field_job_summary | raw }}
                  </div>
                  <div class="bottom-btn">
                    <a class="btn btn-career-profile" href="{{ row.raw.field_workbc_link }}" target='_blank'>View Career Profile</a>
                    <a class="btn btn-find-job" href="" target='_blank'>Find Jobs</a>
                  </div>
                </div>
              </div>
            </div>
          {%  endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
