{#
/**
 * @file
 * Theme override for displaying a view as a table.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 *   - class: HTML classes that can be used to style contextually through CSS.
 * - title : The title of this group of rows.
 * - header: The table header columns.
 *   - attributes: Remaining HTML attributes for the element.
 *   - content: HTML classes to apply to each header cell, indexed by
 *   the header's key.
 *   - default_classes: A flag indicating whether default classes should be
 *     used.
 * - caption_needed: Is the caption tag needed.
 * - caption: The caption for this table.
 * - accessibility_description: Extended description for the table details.
 * - accessibility_summary: Summary for the table details.
 * - rows: Table row items. Rows are keyed by row number.
 *   - attributes: HTML classes to apply to each row.
 *   - columns: Row column items. Columns are keyed by column number.
 *     - attributes: HTML classes to apply to each column.
 *     - content: The column content.
 *   - default_classes: A flag indicating whether default classes should be
 *     used.
 * - responsive: A flag indicating whether table is responsive.
 * - sticky: A flag indicating whether table header is sticky.
 *
 * @see template_preprocess_views_view_table()
 */
#}
{%
  set classes = [
    'table',
    'table-striped',
    'views-table',
    'views-view-table',
    'cols-' ~ header|length,
    responsive ? 'responsive-enabled',
    sticky ? 'sticky-enabled',
  ]
%}
{% set currentPath = url("<current>")|render|render %}
<div class="careers-main-wrapper small-device-hide">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-8">
      <div class="top-career-content">
        <h3>Top Career Matches</h3>
        <div class="content">
          <div class="description">
            <p><span class="bulb d-table-cell"></span><span class="dec-text d-table-cell">Select a career below to find out more information.</span></p>
            <p><span class="bulb d-table-cell"></span><span class="dec-text d-table-cell"><strong>Compare up to three careers</strong> by selecting the</br>
              checkboxes and clicking on the Compare Careers button.</span>
            </p>
          </div>
          <div class="top-btn">
            <a href="{{ remove_url }}" class="clear-compare disable">Clear Compare</a>
            <a href="{{ '/career-compare/career/' ~ current_nid ~ '/?quiz-type=' ~ quiz_type }}" class="compare-career disable">Compare Careers</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-8 col-print-12">
      <div class="careers-table-main-wrapper">
        <table{{ attributes.addClass(classes) }}>
            {% if caption_needed %}
            <caption>
            {% if caption %}
                {{ caption }}
            {% else %}
                {{ title }}
            {% endif %}
            {% if (summary is not empty) or (description is not empty) %}
                <details>
                {% if summary is not empty %}
                    <summary>{{ summary }}</summary>
                {% endif %}
                {% if description is not empty %}
                    {{ description }}
                {% endif %}
                </details>
            {% endif %}
            </caption>
            {% endif %}
            {% if header %}
            <thead>
                <tr>
                <th>
                  <p class="matches-wrap">
                    <span class="matches">
                      <span class="match-per">{{ match_header }}</span>
                      <span class="match">{{ 'Match'|t }}</span>
                    </span>
                  {% if match_header == 'Your' %}
                    <span class="match-warning" title="A career marked as Best Fit is a very strong match to your interests.&#013;&#010;A career marked Great Fit is a strong match.&#013;&#010;A career marked Good Fit is a less strong match and may also be of interest to you.">
                      <img src="/themes/custom/bcgov_career/src/icons/warning.svg"/>
                    </span>
                  {% endif %}
                  </p>
                  </th>
                {% for key, column in header %}
                    {% if column.default_classes %}
                    {%
                        set column_classes = [
                        'views-field',
                        'views-field-' ~ fields[key],
                        ]
                    %}
                    {% endif %}
                    {% if column.content != 'NOC' %}
                      <th{{ column.attributes.addClass(column_classes).setAttribute('scope', 'col') }}>
                      {%- if column.wrapper_element -%}
                          <{{ column.wrapper_element }}>
                          {%- if column.url -%}
                              <a href="{{ column.url }}#view-field-noc-name-table-column" title="{{ column.title }}">{{ column.content }}{{ column.sort_indicator }}</a>
                          {%- else -%}
                              {{ column.content | raw }}{{ column.sort_indicator }}
                          {%- endif -%}
                          </{{ column.wrapper_element }}>
                      {%- else -%}
                          {%- if column.url -%}
                          <a href="{{ column.url }}#view-field-noc-name-table-column" title="{{ column.title }}">{{ column.content }}{{ column.sort_indicator }}</a>
                          {%- else -%}
                          {{- column.content | raw }}{{ column.sort_indicator }}
                          {%- endif -%}
                      {%- endif -%}
                      </th>
                    {% endif %}
                {% endfor %}
                </tr>
            </thead>
            {% endif %}
            <tbody>
            {% for rowkey, row in rows %}
                <tr class="career-table-row {% if rowkey == '0' %}active{% endif %}" data-id="career-item-{{ rowkey }}">
                {% for key, column in row.columns %}
                {% if column.default_classes %}
                  {%
                    set column_classes = [
                      'views-field'
                    ]
                  %}
                  {% set field_nm = '' %}
                  {% for field in column.fields %}
                    {% set column_classes = column_classes|merge(['views-field-' ~ field]) %}
                    {% set field_nm = field_nm ~ field %}
                  {% endfor %}
                {% endif %}
                  {% if row.raw.nid is not empty %}
                    {% set nodeURL =  url('entity.node.canonical', {'node': row.raw.nid}) %}
                  {% endif %}
                    {% if field_nm == 'field-noc-name' %}
                      <td>
                        {% if row.raw.match is not empty %}
                          {{row.raw.match}}
                        {% endif %}
                      </td>
                    {% elseif field_nm == 'title' %}
                      <td class="career-table-link" data-node-url="{{ nodeURL }}">
                        {% if row.raw.field_noc_name is not empty %}
                          <a href="javascript:;" class="career-table-row-link">{{ row.raw.field_noc_name }}</br> <span class="noc">(NOC {{ row.raw.title }})</span></a>
                        {% endif %}
                      </td>
                    {% elseif field_nm == 'entity-comparison-link-career' %}
                      <td class="career-table-link" data-node-url="{{ nodeURL }}">
                        {% for content in column.content %}
                          {{ content.separator }}{{ content.field_output }}
                          {# data-career="/entity-comparison/career/{{ content.field_output }}?destination=/node/{{ currentPath }}" #}
                        {% endfor %}

                        <label class="compare-career compare-carr">
                          <input type="checkbox" class="career-checkbox career-chkk">
                          <span class="checkmark"></span>
                        </label>
                      </td>
                    {% elseif field_nm == 'field-median-salary' or field_nm == 'field-teer' %}
                      <td{{ column.attributes.addClass(column_classes) }} >
                        {%- if column.wrapper_element -%}
                          <{{ column.wrapper_element }}>
                          {% for content in column.content %}
                            {{ content.separator }}{{ content.field_output }}
                          {% endfor %}
                          </{{ column.wrapper_element }}>
                        {%- else -%}
                          {% for content in column.content %}
                            {{- content.separator }}{{ content.field_output -}}
                          {% endfor %}
                        {%- endif %}
                      </td>
                    {% else %}
                      <td{{ column.attributes.addClass(column_classes) }} >
                        {%- if column.wrapper_element -%}
                          <{{ column.wrapper_element }}>
                          {% for content in column.content %}
                            {{ content.separator }}{{ content.field_output }}
                          {% endfor %}
                          </{{ column.wrapper_element }}>
                        {%- else -%}
                          {% for content in column.content %}
                            {{- content.separator }}{{ content.field_output -}}
                          {% endfor %}
                        {%- endif %}
                      </td>
                    {% endif %}
                {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
          </table>
      </div>
    </div>
    <div class="col-12 col-md-4 col-print-12">
      <div class="career-content-main-wrapper career-content-table-item">
        <h3 class='print-career-preview-label d-none d-print-block'>Career Preview</h3>
        {% for rowkey, row in rows %}
          <div id="career-item-{{ rowkey }}" class="career-content-item {% if rowkey == '0' %}active{% endif %}" data-url="">
            <div class="career-content-item-inner">
            {% if row.raw.field_noc_name is not empty %}
              {% set noc_name = row.raw.field_noc_name ~ ' (NOC ' ~ row.raw.title ~ ')' %}
            {% endif %}
              <div class="title" data-toggle="tip" title="{{ row.raw.field_noc_name }} (NOC {{ row.raw.title }})"><p>{{ noc_name|length > 70 ? noc_name|slice(0, 70) ~ '...' : noc_name}}</p></div>
              <div class="career-inner-content">
                <div class="image-video">
                  {% if row.raw.field_video_id != false %}
                    {% set video_link = 'https://www.youtube.com/embed/' ~ row.raw.field_video_id %}
                    <iframe width="420" height="345" data-src="{{ video_link }}"src="{% if rowkey == '0' %}{{video_link}}{% endif %}"></iframe>
                  {% elseif  row.raw.field_video_id == false %}
                    <img src="{{ row.raw.field_image }}" alt=""/>
                  {% endif %}
                </div>
                <div class="data">
                {% for key, column in row.columns %}
                  {% set field_nm = '' %}
                  {% for field in column.fields %}
                    {% set field_nm = field_nm ~ field %}
                  {% endfor %}
                  {% if 'field-median-salary' in field_nm %}
                    <p class="data-item"><span class="f-d">Annual Salary</span><span class="s-d">
                      {%- if column.wrapper_element -%}
                        <{{ column.wrapper_element }}>
                        {% if column.content %}
                          {% for content in column.content %}
                            {{ content.separator }}{{ content.field_output }}
                          {% endfor %}
                        {% else %}
                          Not available
                        {% endif %}
                        </{{ column.wrapper_element }}>
                      {%- else -%}
                        {% if column.content %}
                          {% for content in column.content %}
                            {{- content.separator }}{{ content.field_output -}}
                          {% endfor %}
                        {% else %}
                          Not available
                        {% endif %}
                      {%- endif %}
                    </span></p>
                  {% endif %}
                  {% if 'field-teer' in field_nm %}
                    <p class="data-item"><span class="f-d">Training, Education, Experience and Responsibilities</span><span class="s-d">
                      {%- if column.wrapper_element -%}
                        <{{ column.wrapper_element }}>
                        {% for content in column.content %}
                          {{ content.separator }}{{ content.field_output }}
                        {% endfor %}
                        </{{ column.wrapper_element }}>
                      {%- else -%}
                        {% for content in column.content %}
                          {{- content.separator }}{{ content.field_output -}}
                        {% endfor %}
                      {%- endif %}
                    </span></p>
                  {% endif %}
                {% endfor %}
                  {% if row.raw.field_job_openings is not empty %}
                    <p class="data-item"><span class="f-d">Job Openings<span class="w-100">{{ row.raw.field_opening_from_to }}</span></span><span class="s-d">{{ max(0,row.raw.field_job_openings)|number_format(0, '.', ',') }}</span></p>
                  {% else %}
                    <p class="data-item"><span class="f-d">Job Openings<span class="w-100">{{ row.raw.field_opening_from_to }}</span></span><span class="s-d">Not available</span></p>
                  {% endif %}
                </div>
                <div class="description">
                  <p>{{ row.raw.field_job_summary | striptags | truncate(400) | raw }}</p>
                </div>
                <div class="bottom-btn">
                  <a class="btn btn-prim btn-career-profile" href="{{ row.raw.field_workbc_link }}" target='_blank'>View Career Profile</a>
                  
                  <a class="btn btn-find-job" href="{{ workbc_url }}/search-and-prepare-job/find-jobs#/job-search;noc={{ row.raw.title }};" target='_blank'>Find Jobs</a>
                </div>
              </div>
            </div>
          </div>
        {%  endfor %}
      </div>
    </div>
  </div>
</div>

<div class="careers-mobi-main-wrapper small-device-show">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="top-career-mobi-content">
          <h3>Top Career Matches</h3>
          <div class="content">
            <div class="description">
              <p><span class="bulb d-table-cell"></span><span class="dec-text d-table-cell">Select a career below to find out more information.</span></p>
              <p><span class="bulb d-table-cell"></span><span class="dec-text d-table-cell">
                <strong>Compare up to three careers</strong> by selecting the checkboxes and clicking on the Compare Careers button.</span>
              </p>
            </div>
            <div class="top-btn">
              <a href="{{ remove_url }}" class="clear-compare disable">Clear Compare</a>
              <a href="{{ '/career-compare/career/'  ~ current_nid ~ '?type=' ~ quiz_type}}" class="compare-career disable">Compare Careers</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="careers-mobi-table-wrapper">
          <div class="thead">
            <div class="thead-main">
              <p class="matches-wrap head">
                <span class="matches">
                  <span class="match-per">{{ match_header }}</span>
                  <span class="match">{{ 'Match'|t }}</span>
                </span>
                {% if match_header == 'Your' %}
                <span class="match-warning" title="A career marked as Best Fit is a very strong match to your interests.&#013;&#010;A career marked Great Fit is a strong match.&#013;&#010;A career marked Good Fit is a less strong match and may also be of interest to you.">
                  <img src="/themes/custom/bcgov_career/src/icons/warning.svg"/>
                </span>
                {% endif %}
              </p>
              <p class="head">Career<br>Matches</p>
              <p class="head">Compare Careers</p>
            </div>
          </div>
          <div class="tbody">
          {% for rowkey, row in rows %}
            {% if row.raw.nid is not empty %}
              {% set nodeURL =  url('entity.node.canonical', {'node': row.raw.nid}) %}
            {% endif %}
            <div class="tbody-main" data-id="career-item-{{ rowkey }}">
              {% if row.raw.match is not empty %}
                <p class="body">{{ row.raw.match }}</p>
              {% endif %}
              {% if row.raw.field_noc_name is not empty %}
                <p class="body"><a href="{{ nodeURL }}/?type={{ quiz_type }}" class="career-table-mobi-row-link">{{ row.raw.field_noc_name }} </br><span class="noc">(NOC {{ row.raw.title }})</span></a></p>
              {% endif %}
              {% for key, column in row.columns %}
                {% set field_nm = '' %}
                {% for field in column.fields %}
                  {% set field_nm = field_nm ~ field %}
                {% endfor %}
                {% if field_nm == 'entity-comparison-link-career'%}
                  <p class="body">
                    {%- if column.wrapper_element -%}
                      <{{ column.wrapper_element }}>
                      {% for content in column.content %}
                        {{ content.separator }}{{ content.field_output }}
                      {% endfor %}
                      </{{ column.wrapper_element }}>
                    {%- else -%}
                      {% for content in column.content %}
                        {{- content.separator }}{{ content.field_output -}}
                      {% endfor %}
                    {%- endif %}
                    <label class="compare-career-mobi compare-carr" data-career="/entity-comparison/career/{{ row.raw.entity_comparison_link_career }}?destination=/node/{{ currentPath }}">
                      <input type="checkbox" class="career-mobi-checkbox career-chkk">
                      <span class="checkmark"></span>
                    </label>
                  </p>
                {% endif %}
              {% endfor %}
            </div>
          {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>