{#
/**
 * @file
 * Theme override for displaying a view as a table.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 *   - class: HTML classes that can be used to style contextually through CSS.
 * - title : The title of this group of rows.
 * - header: The table header columns.
 *   - attributes: Remaining HTML attributes for the element.
 *   - content: HTML classes to apply to each header cell, indexed by
 *   the header's key.
 *   - default_classes: A flag indicating whether default classes should be
 *     used.
 * - caption_needed: Is the caption tag needed.
 * - caption: The caption for this table.
 * - accessibility_description: Extended description for the table details.
 * - accessibility_summary: Summary for the table details.
 * - rows: Table row items. Rows are keyed by row number.
 *   - attributes: HTML classes to apply to each row.
 *   - columns: Row column items. Columns are keyed by column number.
 *     - attributes: HTML classes to apply to each column.
 *     - content: The column content.
 *   - default_classes: A flag indicating whether default classes should be
 *     used.
 * - responsive: A flag indicating whether table is responsive.
 * - sticky: A flag indicating whether table header is sticky.
 *
 * @see template_preprocess_views_view_table()
 */
#}
{%
  set classes = [
    'table',
    'table-striped',
    'views-table',
    'views-view-table',
    'cols-' ~ header|length,
    responsive ? 'responsive-enabled',
    sticky ? 'sticky-enabled',
  ]
%}

{% set currentPath = url("<current>")|render|render %}
<div class="careers-main-wrapper small-device-hide">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-8">
      <div class="top-career-content">
        <h3>Top Career Matches</h3>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-8">
      <div class="top-career-content">
        <div class="content">
          <div class="description">
            <p><span class="bulb d-table-cell"></span><span class="dec-text d-table-cell">Select a career below to find out more information.</span></p>
            <p><span class="bulb d-table-cell"></span><span class="dec-text d-table-cell"><strong>Compare up to three careers</strong> by selecting the
              checkboxes and clicking on the Compare Careers button.</span>
            </p>
          </div>
          <div class="top-btn">
            <a href="{{ remove_url }}" class="clear-compare disable">Clear Compare</a>
            <a href="{{ '/compare-careers/' ~ submission_id }}" class="compare-career disable">Compare Careers</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 col-md-12 col-sm-12 col-print-12">
      <div class="careers-table-main-wrapper">
        <table{{ attributes.addClass(classes) }}>
          {% if caption_needed %}
            <caption>
              {% if caption %}
                {{ caption }}
              {% else %}
                {{ title }}
              {% endif %}
              {% if (summary is not empty) or (description is not empty) %}
                <details>
                  {% if summary is not empty %}
                    <summary>{{ summary }}</summary>
                  {% endif %}
                  {% if description is not empty %}
                    {{ description }}
                  {% endif %}
                </details>
              {% endif %}
            </caption>
          {% endif %}
          {% if header %}
            <thead>
              <tr>
                {% for key, column in header %}
                  {% if column.default_classes %}
                    {%
                      set column_classes = [
                      'views-field',
                      'views-field-' ~ fields[key],
                      ]
                    %}
                    {% endif %}
                      <th{{ column.attributes.addClass(column_classes).setAttribute('scope', 'col') }}>
                        {%- if column.wrapper_element -%}
                          <{{ column.wrapper_element }}>
                            {%- if column.url -%}
                              <a href="{{ column.url }}#view-field-noc-name-table-column" title="{{ column.title }}">
                                <div class="content">{{ column.content }}</div>
                                <div class="sort">{{ column.sort_indicator }}</div>
                              </a>
                            {%- else -%}
                              {{ column.content | raw }}{{ column.sort_indicator }}
                            {%- endif -%}
                          </{{ column.wrapper_element }}>
                        {%- else -%}
                          {%- if column.url -%}
                            <a href="{{ column.url }}#view-field-noc-name-table-column" title="{{ column.title }}">
                              <div class="content">{{ column.content }}</div>
                              <div class="sort">{{ column.sort_indicator }}</div>
                            </a>
                          {%- else -%}
                          {{- column.content | raw }}{{ column.sort_indicator }}
                          {%- endif -%}
                      {%- endif -%}
                    </th>
                  {% endfor %}
                </tr>
            </thead>
          {% endif %}
          <tbody>
            {% for rowkey, row in rows %}
              <tr class="career-table-row {% if rowkey == '0' %}active{% endif %}" data-id="career-item-{{ rowkey }}">
                {% for key, column in row.columns %}
                  {% if column.default_classes %}
                    {%
                      set column_classes = [
                        'views-field'
                      ]
                    %}
                    {% for field in column.fields %}
                      {% set column_classes = column_classes|merge(['views-field-' ~ field]) %}
                    {% endfor %}
                  {% endif %}
                  <td{{ column.attributes.addClass(column_classes) }}>
                    {%- if column.wrapper_element -%}
                      <{{ column.wrapper_element }}>
                      {% for content in column.content %}
                        {{ content.separator }}{{ content.field_output }}
                      {% endfor %}
                      </{{ column.wrapper_element }}>
                    {%- else -%}
                      {% for content in column.content %}
                        {{- content.separator }}{{ content.field_output -}}
                      {% endfor %}
                    {%- endif %}
                  </td>
                {% endfor %}
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>


    <div class="col-lg-4 col-md-12 col-sm-12 col-print-12">
      <div class="career-content-main-wrapper career-content-table-item">
        <h3 class='print-career-preview-label d-none d-print-block'>Career Preview</h3>
        {% for rowkey, row in rows %}
          <div class="career-item-{{ rowkey }} career-content-item {% if rowkey == '0' %}active{% endif %}" data-url="">
            {% set career_profile = row.raw %}
            {% include '@workbc_cdq_career_match/templates/includes/career-preview-card.html.twig' %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
<div id="mobi-career-table" class="careers-mobi-main-wrapper small-device-show">
  <div class="col-12">
    <div class="top-career-mobi-content">
      <h3>Top Career Matches</h3>
      <div class="content">
        <div class="description">
          <p><span class="bulb d-table-cell"></span><span class="dec-text d-table-cell">Select a career below to find out more information.</span></p>
          <p><span class="bulb d-table-cell"></span><span class="dec-text d-table-cell">
            <strong>Compare up to three careers</strong> by selecting the checkboxes and clicking on the Compare Careers button.</span>
          </p>
        </div>
        <div class="top-btn">
          <a href="{{ remove_url }}" class="clear-compare disable">Clear Compare</a>
          <a href="{{ '/compare-careers/' ~ submission_id }}" class="compare-career disable">Compare Careers</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12">
    <div class="careers-mobi-table-wrapper">
      <div class="thead">
        <div class="thead-main">
          <p class="matches-wrap head">
            <span class="matches">
              <span class="match-per">{{ match_header }}</span>
              <span class="match">{{ 'Match'|t }}</span>
            </span>
            {% if match_header == 'Your' %}
              <span class="match-warning" title="A career marked as Best Fit is a very strong match to your interests.&#013;&#010;A career marked Great Fit is a strong match.&#013;&#010;A career marked Good Fit is a less strong match and may also be of interest to you.">
              <img src="/themes/custom/bcgov_career/src/icons/warning.svg"/>
            </span>
            {% endif %}
          </p>
          <p class="head">Career<br>Matches</p>
          <p class="head">Compare Careers</p>
        </div>
      </div>
      <div class="tbody">
        {% for rowkey, row in rows %}
          <div class="tbody-main career-table-row" data-id="career-item-{{ rowkey }}">
            {% if row.raw.match is not empty %}
              <p class="body">{{ row.raw.match }}</p>
            {% endif %}
            {% if row.raw.field_noc_name is not empty %}
              <p class="body"><a href="{{ nodeURL }}/?type={{ quiz_type }}" class="career-table-mobi-row-link">{{ row.raw.field_noc_name }} </br><span class="noc">(NOC {{ row.raw.title }})</span></a></p>
            {% endif %}
            {% for key, column in row.columns %}
              {% set field_nm = '' %}
              {% for field in column.fields %}
                {% set field_nm = field_nm ~ field %}
              {% endfor %}
                <p class="body views-field-{{ field_nm }} {{ field_nm }}">
                  {% for content in column.content %}
                    {{ content.separator }}{{ content.field_output }}
                  {% endfor %}
                </p>
            {% endfor %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="career-content-main-wrapper">
    <div class="career-mobi-preview career-content-table-item">
      {% for rowkey, row in rows %}
        <div class="career-item-{{ rowkey }} career-content-item" data-url="">
          {% set career_profile = row.raw %}
          {% include '@workbc_cdq_career_match/templates/includes/career-preview-card.html.twig' %}
        </div>
      {% endfor %}
    </div>
  </div>
</div>
<div class="careers-main-wrapper">
  <div class="bottom-links">
    <div class="links-inner">
      <div class="link link_1">
        <a class="btn btn-modify" href="{{ quiz['quiz_link']}}">Modify Your Answers</a>
      </div>
      <div class="link link_2">
        <a class="btn btn-prim" href="/" >Take Next Quiz</a>
      </div>
    </div>

  </div>
</div>



