{#
/**
 * @file
 * Theme override for displaying a view as a table.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 *   - class: HTML classes that can be used to style contextually through CSS.
 * - title : The title of this group of rows.
 * - header: The table header columns.
 *   - attributes: Remaining HTML attributes for the element.
 *   - content: HTML classes to apply to each header cell, indexed by
 *   the header's key.
 *   - default_classes: A flag indicating whether default classes should be
 *     used.
 * - caption_needed: Is the caption tag needed.
 * - caption: The caption for this table.
 * - accessibility_description: Extended description for the table details.
 * - accessibility_summary: Summary for the table details.
 * - rows: Table row items. Rows are keyed by row number.
 *   - attributes: HTML classes to apply to each row.
 *   - columns: Row column items. Columns are keyed by column number.
 *     - attributes: HTML classes to apply to each column.
 *     - content: The column content.
 *   - default_classes: A flag indicating whether default classes should be
 *     used.
 * - responsive: A flag indicating whether table is responsive.
 * - sticky: A flag indicating whether table header is sticky.
 *
 * @see template_preprocess_views_view_table()
 */
#}
{%
  set classes = [
    'table',
    'table-striped',
    'views-table',
    'views-view-table',
    'cols-' ~ header|length,
    responsive ? 'responsive-enabled',
    sticky ? 'sticky-enabled',
  ]
%}

{% set currentPath = url("<current>")|render|render %}
<div class="careers-main-wrapper small-device-hide">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-8">
      <div class="top-career-content">
        <h3>Top Career Matches</h3>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-8">
      <div class="top-career-content">
        <div class="content">
          <div class="description">
            <p><span class="bulb d-table-cell"></span><span class="dec-text d-table-cell">Select a career below to find out more information.</span></p>
            <p><span class="bulb d-table-cell"></span><span class="dec-text d-table-cell"><strong>Compare up to three careers</strong> by selecting the
              checkboxes and clicking on the Compare Careers button.</span>
            </p>
          </div>
          <div class="top-btn">
            <a href="{{ remove_url }}" class="clear-compare disable" data-submission-id={{ submission_id }}>Clear Compare</a>
            <a href="{{ '/compare-careers/' ~ submission_id }}" class="compare-career disable">Compare Careers</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 col-md-12 col-sm-12 col-print-12">
      <div class="careers-table-main-wrapper">
        <table{{ attributes.addClass(classes) }}>
          {% if caption_needed %}
            <caption>
              {% if caption %}
                {{ caption }}
              {% else %}
                {{ title }}
              {% endif %}
              {% if (summary is not empty) or (description is not empty) %}
                <details>
                  {% if summary is not empty %}
                    <summary>{{ summary }}</summary>
                  {% endif %}
                  {% if description is not empty %}
                    {{ description }}
                  {% endif %}
                </details>
              {% endif %}
            </caption>
          {% endif %}
          {% if header %}
            <thead>
              <tr>
                {% for key, column in header %}
                  {% if column.default_classes %}
                    {%
                      set column_classes = [
                      'views-field',
                      'views-field-' ~ fields[key],
                      'matches-wrap'
                      ]
                    %}
                    {% endif %}
                      <th{{ column.attributes.addClass(column_classes).setAttribute('scope', 'col') }}>
                        {% set extra_icon = "" %}
                        {% if column.content == 'Your Match' %}
                          {% set extra_icon %}
                            <div data-bs-toggle="tooltip" class="match-warning" title="A career marked as Best Fit is a very strong match to your interests.&#013;&#010;A career marked Great Fit is a strong match.&#013;&#010;A career marked Good Fit is a less strong match and may also be of interest to you.">
                              <img src="/themes/custom/workbc_cdq/assets/icons/warning.svg"/>
                            </div>
                          {% endset %}
                        {% endif %}
                        {%- if column.wrapper_element -%}
                          <{{ column.wrapper_element }}>
                            {%- if column.url -%}
                              <a href="{{ column.url }}#view-field-noc-name-table-column" >
                                <div class="content">{{ column.content }}</div>
                                {{ extra_icon }}
                                <div class="sort" title="{{ column.title | striptags }}">{{ column.sort_indicator }}</div>
                              </a>
                            {%- else -%}
                              {{ column.content | raw }}
                              {{ extra_icon }}
                              {{ column.sort_indicator }}
                            {%- endif -%}
                          </{{ column.wrapper_element }}>
                        {%- else -%}
                          {%- if column.url -%}
                            <a href="{{ column.url }}#view-field-noc-name-table-column">
                              <div class="content">{{ column.content }}</div>
                              {{ extra_icon }}
                              <div class="sort" title="{{ column.title | striptags }}">{{ column.sort_indicator }}</div>
                            </a>
                          {%- else -%}
                          {{- column.content | raw }}{{ extra_icon }}{{ column.sort_indicator }}
                          {%- endif -%}
                      {%- endif -%}
                    </th>
                  {% endfor %}
                </tr>
            </thead>
          {% endif %}
          <tbody>
            {% for rowkey, row in rows %}
              <tr class="career-table-row {% if rowkey == '0' %}active{% endif %}" data-id="career-item-{{ rowkey }}">
                {% for key, column in row.columns %}
                  {% if column.default_classes %}
                    {%
                      set column_classes = [
                        'views-field'
                      ]
                    %}
                    {% for field in column.fields %}
                      {% set column_classes = column_classes|merge(['views-field-' ~ field]) %}
                    {% endfor %}
                  {% endif %}
                  <td{{ column.attributes.addClass(column_classes) }}>
                    {%- if column.wrapper_element -%}
                      <{{ column.wrapper_element }}>
                      {% for content in column.content %}
                        {{ content.separator }}{{ content.field_output }}
                      {% endfor %}
                      </{{ column.wrapper_element }}>
                    {%- else -%}
                      {% for content in column.content %}
                        {{- content.separator }}{{ content.field_output -}}
                      {% endfor %}
                    {%- endif %}
                  </td>
                {% endfor %}
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>


    <div class="col-lg-4 col-md-12 col-sm-12 col-print-12">
      <div class="career-content-main-wrapper career-content-table-item">
        <h3 class='print-career-preview-label d-none d-print-block'>Career Preview</h3>
        {% for rowkey, row in rows %}
          <div class="career-item-{{ rowkey }} career-content-item {% if rowkey == '0' %}active{% endif %}" data-url="">
            {% set career_profile = row.raw %}
            {% include '@workbc_cdq_career_match/templates/includes/career-preview-card.html.twig' %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
<div id="mobi-career-table" class="careers-mobi-main-wrapper small-device-show">
  <div class="col-12">
    <div class="top-career-mobi-content">
      <h3>Top Career Matches</h3>
      <div class="content">
        <div class="description">
          <p><span class="bulb d-table-cell"></span><span class="dec-text d-table-cell">Select a career below to find out more information.</span></p>
          <p><span class="bulb d-table-cell"></span><span class="dec-text d-table-cell">
            <strong>Compare up to three careers</strong> by selecting the checkboxes and clicking on the Compare Careers button.</span>
          </p>
        </div>
        <div class="top-btn">
          <a href="{{ remove_url }}" class="clear-compare disable" data-submission-id={{ submission_id }}>Clear Compare</a>
          <a href="{{ '/compare-careers/' ~ submission_id }}" class="compare-career disable">Compare Careers</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12">
    <div class="careers-mobi-table-wrapper">
      <div class="thead">
        <div class="thead-main">
          <p class="matches-wrap head">
            {% set column = header['career_match'] %}
            <span class="matches">
              <span>{{ column.content | replace({' ':"\n"}) | nl2br }}</span>
            </span>
            {% if column.content == 'Your Match' %}
              <span data-bs-toggle="tooltip" class="match-warning" title="A career marked as Best Fit is a very strong match to your interests.&#013;&#010;A career marked Great Fit is a strong match.&#013;&#010;A career marked Good Fit is a less strong match and may also be of interest to you.">
                <img src="/themes/custom/workbc_cdq/assets/icons/warning.svg"/>
              </span>
            {% endif %}
          </p>
          <p class="head">
            {% set column = header['title'] %}
            {{ column.content | replace({' ':"\n"}) | nl2br }}
          </p>
          <p class="head">
            {% set column = header['selected'] %}
            {{ column.content | replace({' ':"\n"}) | nl2br }}
          </p>
        </div>
      </div>
      <div class="tbody">
        {% for rowkey, row in rows %}
          <div class="tbody-main career-table-row" data-id="career-item-{{ rowkey }}">
            {% if row.raw.match is not empty %}
              <p class="body">{{ row.raw.match }}</p>
            {% endif %}
            {% if row.raw.field_noc_name is not empty %}
              <p class="body"><a href="{{ nodeURL }}/?type={{ quiz_type }}" class="career-table-mobi-row-link">{{ row.raw.field_noc_name }} </br><span class="noc">(NOC {{ row.raw.title }})</span></a></p>
            {% endif %}
            {% for key, column in row.columns %}
              {% set field_nm = '' %}
              {% for field in column.fields %}
                {% set field_nm = field_nm ~ field %}
              {% endfor %}
                <p class="body views-field-{{ field_nm }} {{ field_nm }}">
                  {% for content in column.content %}
                    {{ content.separator }}{{ content.field_output }}
                  {% endfor %}
                </p>
            {% endfor %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="career-content-main-wrapper">
    <div class="career-mobi-preview career-content-table-item">
      {% for rowkey, row in rows %}
        <div class="career-item-{{ rowkey }} career-content-item" data-url="">
          {% set career_profile = row.raw %}
          {% include '@workbc_cdq_career_match/templates/includes/career-preview-card.html.twig' %}
        </div>
      {% endfor %}
    </div>
  </div>
</div>
<div id="modifyNextLinks" class="careers-main-wrapper">
  <div class="bottom-links">
    <div class="links-inner">
      {% if is_quiz_owner %}
        <div class="link link_1">
          <a class="btn btn-modify" href="{{ quiz['quiz_link']}}">Modify Your Answers</a>
        </div>
      {% endif %}
      <div class="link link_2">
        <a class="btn btn-prim" href="/" >Take Next Quiz</a>
      </div>
    </div>
  </div>
</div>


<div class="compare-popup-wrapper d-print-none">
	<div class="compare-popup-content">
		<a href="javascript:;" class="compare-popup-close"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="49.67px" height="49.67px" viewBox="0 0 49.67 49.67" style="overflow:visible;enable-background:new 0 0 49.67 49.67;" xml:space="preserve"><style type="text/css">.st0{fill:#333333;}</style><defs></defs><path class="st0" d="M48.84,46.05L27.67,24.84L48.84,3.63c0.9-0.64,1.11-1.89,0.46-2.79s-1.89-1.11-2.79-0.46
	c-0.18,0.13-0.34,0.29-0.46,0.46L24.84,22.01L3.63,0.84C2.73,0.2,1.48,0.4,0.84,1.3c-0.5,0.7-0.5,1.63,0,2.33l21.17,21.21
	L0.84,46.05c-0.9,0.64-1.11,1.89-0.46,2.79c0.64,0.9,1.89,1.11,2.79,0.46c0.18-0.13,0.34-0.29,0.46-0.46l21.21-21.17l21.21,21.17
	c0.64,0.9,1.89,1.11,2.79,0.46s1.11-1.89,0.46-2.79C49.17,46.33,49.02,46.18,48.84,46.05z"/></svg></a>
		<p class="title">
			You have reached the maximum number of careers you are able to add to the compare feature.
		</p>
		<p class="content">
			Please deselect one of your selected careers to add this career.
		</p>
		<a href="javascript:;" class="close-compare-popup cta">Close</a>
	</div>
</div>


