<div class="career-content-item-inner">
  {% set noc_name = career_profile.title %}
  <div class="title" data-toggle="tip" title="{{ career_profile.title }}"><p>{{ noc_name|length > 70 ? noc_name|slice(0, 70) ~ '...' : noc_name}}</p></div>
  <div class="career-inner-content">
    <div class="image-video">
      {% if career_profile.video_id != false %}
        {% set video_link = 'https://www.youtube.com/embed/' ~ career_profile.video_id %}
        <iframe width="420" height="335" data-src="{{ video_link }}" src="{{video_link}}" loading="lazy"></iframe>
      {% elseif  career_profile.video_id == false %}
        <img src="{{ career_profile.image }}" alt=""/>
      {% endif %}
    </div>

    <div class="data">
      <p class="data-item">
        <span class="f-d">Annual Salary</span>
        {% if (career_profile.annual_salary is not empty) and (career_profile.annual_salary != "Not available") %}
          <span class="s-d">${{ career_profile.annual_salary | number_format(0, '.', ',') }}</span>
        {% else %}
          <span class="s-d">Not available</span>
        {% endif %}
      </p>
      <p class="data-item">
        <span class="f-d">Training, Education, Experience and Responsibilities</span>
        <span class="s-d">{{ career_profile.education_level }}</span>
      </p>
      <p class="data-item">
        <span class="f-d">Job Openings <span class="w-100">{{ career_profile.job_openings_range }}</span></span>
        {% if career_profile.job_openings is not empty %}
          <span class="s-d">{{ max(0, career_profile.job_openings)|number_format(0, '.', ',') }}</span>
        {% else %}
          <span class="s-d">Not available</span>
        {% endif %}
      </p>
    </div>
    <div class="description">
      <p>{{ career_profile.job_summary }}</p>
    </div>
    <div class="bottom-btn">
      <a class="btn btn-prim btn-career-profile" href="{{ workbc_url }}/career/{{ career_profile.noc }}" target='_blank'>View Career Profile</a>
      <a class="btn btn-find-job" href="{{ workbc_url }}/search-and-prepare-job/find-jobs#/job-search;noc={{ career_profile.noc }};" target='_blank'>Find Jobs</a>
    </div>
  </div>
</div>
