 <div class="tools-resource-wrapper">
   <div class="container-fluid">
     <div class="row">
       <div class="col-12">
         <div class="title">
           <h2>Tools and Resources</h2>
         </div>
         <div class="field field--name-field-title field--type-string field--label-hidden field__item">Tools and Resources</div>
         <div class="tools-resource-items-wrapper">
           <div class="field__items row">
             <div class="col-12 col-md-3">
               <div class="tools-resource-item">
                 <img class="image-icon" src="/themes/custom/workbc_cdq/assets/icons/u5251.svg" />
                 <h3>
                   <a href="{{ resources[0]['link'] }}" target="_blank"> {{ resources[0]['title'] }} </a>
                 </h3>
                 <p class="description">{{ resources[0]['description'] }}</p>
               </div>
             </div>
             <div class="col-12 col-md-3">
               <div class="tools-resource-item">
                 <img class="image-icon" src="/themes/custom/workbc_cdq/assets/icons/u5252.svg" />
                 <h3>
                   <a href="{{ resources[1]['link'] }}" target="_blank"> {{ resources[1]['title'] }} </a>
                 </h3>
                 <p class="description">{{ resources[1]['description'] }}</p>
               </div>
             </div>
             <div class="col-12 col-md-3">
               <div class="tools-resource-item">
                 <img class="image-icon" src="/themes/custom/workbc_cdq/assets/icons/u5253.svg" />
                 <h3>
                   <a href="{{ resources[2]['link'] }}" target="_blank"> {{ resources[2]['title'] }} </a>
                 </h3>
                 <p class="description">{{ resources[2]['description'] }}</p>
               </div>
             </div>
             <div class="col-12 col-md-3">
               <div class="tools-resource-item">
                 <img class="image-icon" src="/themes/custom/workbc_cdq/assets/icons/u5254.svg" />
                 <h3>
                   <a href="{{ resources[3]['link'] }}" target="_blank"> {{ resources[3]['title'] }} </a>
                 </h3>
                 <p class="description">{{ resources[3]['description'] }}</p>
               </div>
             </div>
           </div>
         </div>
         <div class="tools-resource-items-wrapper mobi-tools-resource">
           <div class="field__items row">
             <div class="col-12 col-md-3">
               <div class="tools-resource-item">
                 <img class="image-icon" src="/themes/custom/workbc_cdq/assets/icons/u5251.svg" />
                 <h3>
                   <a href="{{ resources[0]['link'] }}" target="_blank"> {{ resources[0]['title'] }} </a>
                 </h3>
                 <p class="description">{{ resources[0]['description'] }}</p>
               </div>
             </div>
             <div class="col-12 col-md-3">
               <div class="tools-resource-item">
                 <img class="image-icon" src="/themes/custom/workbc_cdq/assets/icons/u5252.svg" />
                 <h3>
                   <a href="{{ resources[1]['link'] }}" target="_blank"> {{ resources[1]['title'] }} </a>
                 </h3>
                 <p class="description">{{ resources[1]['description'] }}</p>
               </div>
             </div>
             <div class="col-12 col-md-3">
               <div class="tools-resource-item">
                 <img class="image-icon" src="/themes/custom/workbc_cdq/assets/icons/u5253.svg" />
                 <h3>
                   <a href="{{ resources[2]['link'] }}" target="_blank"> {{ resources[2]['title'] }} </a>
                 </h3>
                 <p class="description">{{ resources[2]['description'] }}</p>
               </div>
             </div>
             <div class="col-12 col-md-3">
               <div class="tools-resource-item">
                 <img class="image-icon" src="/themes/custom/workbc_cdq/assets/icons/u5254.svg" />
                 <h3>
                   <a href="{{ resources[3]['link'] }}" target="_blank"> {{ resources[3]['title'] }} </a>
                 </h3>
                 <p class="description">{{ resources[3]['description'] }}</p>
               </div>
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>
 </div>

