{# quiz results - work values  #}

<div class="quiz-work-values-wrapper">
{% if score|length > 0 %}
    <div class="myResultHeading">
  	  <div>
  		  <div class="result-heading">
  			  <h3 class="vaa">{{ category_top }}</h3>
	        <h3 class="vaa1" style="display:none;">{{ category_all }}</h3>
		    </div>
	    </div>
			<div class="d-print-none">
				<div class="career-top-right">
					<ul class="float-right">
			  		<li class="quiz-node-print"><a href="javascript:;" class="print-window"><span title="Print Results" class="icon icon-print"></span></a></li>
				  	<li class="quiz-node-email"><a href="mailto:?subject={{ email_subject }}&body={{ email_body }}" target="_blank" rel="noopener noreferrer"><span title="Email Results" class="icon icon-message"></span></a></li>
					</ul>
				</div>
			</div>
    </div>

  <div id="myResult" data-ride="carousel" class="carousel slide">
    <div class="carousel-inner carousel-inner-device work-value-quiz-carousel">
      <div class="row">
        <div class="col-12 extradivs hide1">
          <div class="row">
          {% for key, values in score %}
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-print-item itm">
              <div class="quiz-list">
                <div class="item img-field">
                  <img src="/themes/custom/workbc_cdq/assets/icons/{{ values['image'] }}-icon.svg" />
                </div>
                <div class="item title-field" style="color:#{{ values['color']}}">
                  {{ key }}
                </div>
                <div class="item title-description _216C06">
                  <p><strong>Important Values:</strong></p>
                  <ul style="color:#{{ values['color']}}">
                    {% for item in values['important'] %}
                      <li><p>{{ item }}</p></li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </div>
          {% endfor %}
            <a href="javascript:;" class="hideshow-workbc slick-arrow">
              <span class="vaa">Show Somewhat Important {{ category }}</span>
              <svg xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" version="1.1" width="10px" height="15px" style="margin-top:-2px">
                <g transform="matrix(1 0 0 1 -906 -856 )">
                  <path d="M 10 7.5  C 10 7.66129032258065  9.93886743886744 7.80086848635236  9.81660231660232 7.91873449131514  L 2.65444015444015 14.8232009925558  C 2.53217503217503 14.9410669975186  2.38738738738739 15  2.22007722007722 15  C 2.05276705276705 15  1.90797940797941 14.9410669975186  1.78571428571429 14.8232009925558  L 0.183397683397683 13.2785359801489  C 0.0611325611325612 13.1606699751861  0 13.0210918114144  0 12.8598014888337  C 0 12.6985111662531  0.0611325611325612 12.5589330024814  0.183397683397683 12.4410669975186  L 5.30888030888031 7.5  L 0.183397683397683 2.55893300248139  C 0.0611325611325612 2.44106699751861  0 2.3014888337469  0 2.14019851116625  C 0 1.97890818858561  0.0611325611325612 1.83933002481389  0.183397683397683 1.72146401985112  L 1.78571428571429 0.176799007444168  C 1.90797940797941 0.0589330024813889  2.05276705276705 0  2.22007722007722 0  C 2.38738738738739 0  2.53217503217503 0.0589330024813889  2.65444015444015 0.176799007444168  L 9.81660231660232 7.08126550868486  C 9.93886743886744 7.19913151364764  10 7.33870967741936  10 7.5  Z " fill-rule="nonzero" fill="#880364" stroke="none" transform="matrix(1 0 0 1 906 856 )"></path>
                </g>
              </svg>
            </a>
          </div>
        </div>
        <div class="col-12 extradivs1 extradivs2">
          <div class="row">
            {% for key, values in score %}
              <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-print-item itm">
                <div class="quiz-list">
                  <div class="item img-field">
                    <img src="/themes/custom/workbc_cdq/assets/icons/{{ values['image'] }}-icon.svg" />
                  </div>
                  <div class="item title-field" style="color:#{{ values['color']}}">
                    {{ key }}
                  </div>
                  <div class="item title-description _216C06">
                    <p><strong>Somewhat Important Values:</strong></p>
                    <ul>
                      {% for item in values['somewhat'] %}
                        <li><p>{{ item }}</p></li>
                      {% endfor %}
                    </ul>
                  </div>
                </div>
              </div>
            {% endfor %}
            <a href="javascript:;" class="hideshow-workbc slick-arrow">
              <span class="vaa1">Show Important {{ category }}</span>
              <svg xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" version="1.1" width="10px" height="15px" style="margin-top:-2px">
                <g transform="matrix(1 0 0 1 -906 -856 )">
                  <path d="M 10 7.5  C 10 7.66129032258065  9.93886743886744 7.80086848635236  9.81660231660232 7.91873449131514  L 2.65444015444015 14.8232009925558  C 2.53217503217503 14.9410669975186  2.38738738738739 15  2.22007722007722 15  C 2.05276705276705 15  1.90797940797941 14.9410669975186  1.78571428571429 14.8232009925558  L 0.183397683397683 13.2785359801489  C 0.0611325611325612 13.1606699751861  0 13.0210918114144  0 12.8598014888337  C 0 12.6985111662531  0.0611325611325612 12.5589330024814  0.183397683397683 12.4410669975186  L 5.30888030888031 7.5  L 0.183397683397683 2.55893300248139  C 0.0611325611325612 2.44106699751861  0 2.3014888337469  0 2.14019851116625  C 0 1.97890818858561  0.0611325611325612 1.83933002481389  0.183397683397683 1.72146401985112  L 1.78571428571429 0.176799007444168  C 1.90797940797941 0.0589330024813889  2.05276705276705 0  2.22007722007722 0  C 2.38738738738739 0  2.53217503217503 0.0589330024813889  2.65444015444015 0.176799007444168  L 9.81660231660232 7.08126550868486  C 9.93886743886744 7.19913151364764  10 7.33870967741936  10 7.5  Z " fill-rule="nonzero" fill="#880364" stroke="none" transform="matrix(1 0 0 1 906 856 )"></path>
                </g>
              </svg>
            </a>
          </div>
        </div>

      </div>
    </div>
    <div class="carousel-mobi-tabs  d-print-none">
      <a href="javascript:;" class="carousel-mobi-tabs-trigger">
        <span class="text vaa">Your Important Work Values</span> <span class="vaa1" style="display:none">Your Somewhat Important Work Values </span>
        <svg xmlns="http://www.w3.org/2000/svg" version="1.0" width="24" height="24" viewBox="0 0 64.000000 64.000000">
          <g transform="translate(0.000000,64.000000) scale(0.100000,-0.100000)" fill="#000000" stroke="none">
            <path d="M10 485 c-7 -8 -10 -25 -7 -37 10 -36 289 -308 317 -308 28 0 307 272 317 308 3 12 0 29 -7 37 -27 32 -54 16 -182 -112 l-128 -128 -128 128 c-128 128 -155 144 -182 112z"></path>
          </g>
        </svg>
      </a>
      <ul class="carousel-mobi-tab-items-wrapper d-print-none">
        <a href="javascript:;" class="carousel-mobi-tab-close">
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="14.6px" height="14.6px" viewBox="0 0 14.6 14.6" style="overflow:visible;enable-background:new 0 0 14.6 14.6;" xml:space="preserve">
                   <style type="text/css">.st0{fill-rule:evenodd;clip-rule:evenodd;fill:#333333;}</style>
            <defs></defs>
            <path class="st0" d="M0.3,12.9c-0.4,0.4-0.4,1,0,1.4c0.4,0.4,1,0.4,1.4,0l5.6-5.6l5.6,5.6c0.4,0.4,1,0.4,1.4,0c0.4-0.4,0.4-1,0-1.4  L8.7,7.3l5.6-5.6c0.4-0.4,0.4-1,0-1.4c-0.4-0.4-1-0.4-1.4,0L7.3,5.9L1.7,0.3c-0.4-0.4-1-0.4-1.4,0c-0.4,0.4-0.4,1,0,1.4l5.6,5.6  L0.3,12.9z"></path>
                </svg>
        </a>
        <li><a href="javascript:;" class="carousel-mobi-tab-item active" data-href="topcarousel" data-text="Your Important Work Values">Show Important Values</a></li>
        <li><a href="javascript:;" class="carousel-mobi-tab-item" data-href="bottomcarousel" data-text="Your Somewhat Important Work Values">Show Somewhat Important Values</a></li>
      </ul>
    </div>
    <div class="carousel-inner carousel-inner-mobi work-value-quiz-mobi-carousel active  d-print-none" data-id="topcarousel">
      <div class="row carousel-slider-mobi-row">
        {% for key, values in score %}
          <div class="col-12 itm mobi-itm itm">
            <div class="quiz-list">
              <div class="item img-field">
                <img src="/themes/custom/workbc_cdq/assets/icons/{{ values['image'] }}-icon.svg" />
              </div>
              <div class="item title-field" style="color:{{ item.color|raw }}">
                {{ key }}
              </div>
              <div class="item title-description">
                <div class="important"><strong>Important Values:</strong></div>
                <ul>
                  {% for item in values['important'] %}
                    <li><p>{{ item }}</p></li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="carousel-inner carousel-inner-mobi work-value-quiz-mobi-carousel d-print-none" data-id="bottomcarousel">
      <div class="row carousel-slider-mobi-row">
        {% for key, values in score %}
          <div class="col-12 itm mobi-itm itm">
            <div class="quiz-list">
              <div class="item img-field">
                <img src="/themes/custom/workbc_cdq/assets/icons/{{ values['image'] }}-icon.svg" />
              </div>
              <div class="item title-field" style="color:{{ item.color|raw }}">
                {{ key }}
              </div>
              <div class="item title-description">
                <div class="important"><strong>Somewhat Important Values:</strong></div>
                <ul>
                  {% for item in values['somewhat'] %}
                    <li><p>{{ item }}</p></li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

{% else %}
  <span class="quiz-results-expired">
    <h3>14 days have passed and these quiz results have expired.</h3>
  <span>
{% endif %}
</div>
