{# quiz results - categories  #}

<div class="quiz-category-results-wrapper">
  {% if score|length > 3 %}
    <div class="row">
  	  <div class="col-8">
  		  <div class="result-heading">
  			  <h3 class="vaa">{{ category_top }}</h3>
	        <h3 class="vaa1" style="display:none;">{{ category_all }}</h3>
		    </div>
	    </div>
			<div class="col-4 col-md-4 d-print-none">
				<div class="career-top-right">
					<ul class="float-right">
			  		<li class="quiz-node-print"><a href="javascript:;" class="print-window"><span title="Print Results" class="icon icon-print"></span></a></li>
				  	<li class="quiz-node-email"><a href="mailto:?subject={{ email_subject }}&body={{ email_body }}" target="_blank" rel="noopener noreferrer"><span title="Email Results" class="icon icon-message"></span></a></li>
					</ul>
				</div>
			</div>
    </div>
  {% endif %}

  <div id="myResult" data-ride="carousel" class="carousel slide">
	<div class="carousel-inner carousel-inner-device">
    	<div class="row">
      {% for key, cat in score|slice(0,3) %}
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 col-print-item itm">
    	    <div class="quiz-list">
    		    <div class="item field-match">
    			    {{ cat['percent'] }}% Match
		        </div>
		        <div class="item img-field">
              <img src="/themes/custom/workbc_cdq/assets/icons/{{ cat['image'] }}-icon.svg" />
		        </div>
		        <div class="item title-field" style="color:#{{ cat['color']}}">
        			{{ key }}
		        </div>
            <div class="item title-description _216C06">
              <p><span>{{ cat['description'] | raw }}</span></p>
		        </div>
	        </div>
        </div>
      {% endfor %}
    </div>
	</div>
	<div class="carousel-inner carousel-inner-mobi">
  		<div class="row active">
	  {% for key, cat in score|slice(0,3) %}
		  <div class="col-12">
			  <div class="quiz-list">
				  <div class="item field-match">
					  {{ cat['percent'] }}% Match
				  </div>
				  <div class="item img-field">
					  <img src="/themes/custom/workbc_cdq/assets/icons/{{ cat['image'] }}-icon.svg" />
				  </div>
				  <div class="item title-field" style="color:#{{ cat['color']}}">
					  {{ key }}
				  </div>
				  <div class="item title-description _216C06">
					  <p><span>{{ cat['description'] | raw }}</span></p>
				  </div>
			  </div>
		  </div>
	  {% endfor %}
  	</div>
	</div>

{% if score|length > 3 %}

    <div class="collapse" id="hiddenByDefault">
      {% for key, cat in score|slice(3) %}
        {% if loop.index0 % 3 == 0 %}
          <div class="row">
        {% endif %}
          <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 col-print-item itm">
    	      <div class="quiz-list">
      		    <div class="item field-match">
    			      {{ cat['percent'] }}% Match
		          </div>
		          <div class="item img-field">
                <img src="/themes/custom/workbc_cdq/assets/icons/{{ cat['image'] }}-icon.svg" />
		          </div>
		          <div class="item title-field" style="color:#{{ cat['color']}}">
          			{{ key }}
		          </div>
              <div class="item title-description _216C06">
                <p><span>{{ cat['description'] | raw }}</span></p>
		          </div>
	          </div>
          </div>
        {% if loop.index0 % 3 == 2 or loop.last %}
          </div>
        {% endif %}
      {% endfor %}
    </div>

    <a href="#hiddenByDefault"
       data-bs-toggle="collapse"
       class="category-results-toggle"
       aria-expanded="false" aria-controls="hiddenByDefault">{{ category }}</a>
  </div>

{% endif %}

</div>
